@charset "UTF-8";
/*Tudo que em HTML é id em CSS é #
Tudo que em HTML é class em CSS é .
Tudo que é pseudoclasse em CSS é :
*/
/*o id só usa uma vez e o class pra repetir classes que quer deixar igual*/
body{
    background-color: rgba(205, 252, 205, 0.747);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(6, 6, 87);
}
h1#principal{
    text-align: center;
}

h2{
    color: brown;
}
h2.basico{
    color:rgba(11, 65, 11, 0.747)
}
h2.intermediario{
    color:rgba(200, 241, 14, 0.747)
}
h2.avancado{
    color:rgba(201, 16, 16, 0.747)

}